<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span class="header" style="margin: 10px" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <span style="font-size: x-large; font-weight: bold; ">
        <img style="display: inline; width: 35px; height: 35px" src="https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fd3f7b06b-e413-43cf-a5bd-124228966c45%2FPngtreevector_shopping_cart_icon_4164022.png?table=block&id=74a342db-4187-4c90-96ba-591ae0baca90&spaceId=c79bc389-a3bc-46be-b5a0-80287da2c343&width=250&userId=c3dc26e3-1fe2-469d-80b9-a180fa347728&cache=v2">
        <a style="display: inline" href="/"><h3 style="display: inline" class="text-muted">JPA SHOP</h3></a>
    </span>
</span>
